@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.navbar-toggler {
  background-color: aqua;
}

footer {
  font-size: 15px;
  padding: 5px;
  margin-bottom: 15px;
  text-align: center;
  background-color: black;
}
footer .icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  font-size: 30px;
}
footer a {
  color: green;
}

@media only screen and (max-width: 700px) {
  header {
    padding: 10px;
  }
  .text-box {
    margin-bottom: 10px;
  }
  nav {
    display: flex;
  }
  .nav-links {
    margin-top: 10px;
  }
  ul {
    flex-direction: column;
    margin-top: 10px;
  }
}
@media screen and (max-width: 480px) {
  form {
    padding: 0 10px;
  }
  form .input-group {
    margin-bottom: 15px;
  }
  form .input-group input,
  form .input-group textarea {
    font-size: 13px;
  }
}
@media only screen and (max-width: 900px) {
  .row-us {
    flex-direction: column;
  }
  aside img {
    height: 50%;
  }
}
@media screen and (max-width: 768px) {
  contact-wrapper {
    flex-direction: column;
  }
}
.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid-item:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

#img1 {
  background-image: url(../multimedia/img/serpiente_grande_comp.jpg);
}

#img2 {
  background-image: url(../multimedia/img/coco_feliz_comp.jpg);
}

#img3 {
  background-image: url(../multimedia/img/chameleon-3056867_1280.jpg);
}

#img4 {
  background-image: url(../multimedia/img/tortuga_gigante_comp.jpg);
}

#img5 {
  background-image: url(../multimedia/img/lagartija_verde_comp.jpg);
}

#img6 {
  background-image: url(../multimedia/img/cocodrilo_blanco_comp.jpg);
}

#img7 {
  background-image: url(../multimedia/img/serpiente_amarilla_comp.jpg);
}

#img8 {
  background-image: url(../multimedia/img/lagarto_colorido_comp.jpg);
}

#img8 {
  background-image: url(../multimedia/img/tortugachica_comp.jpg);
}

#img9 {
  background-image: url(../multimedia/img/cocodrilo_entero_comp.jpg);
}

#img10 {
  background-image: url(../multimedia/img/tortuga_abriendoboca_comp.jpg);
}

#img11 {
  background-image: url(../multimedia/img/serpiente_azul_comp.jpg);
}

#img12 {
  background-image: url(../multimedia/img/lagarto_negroynaranja_comp.jpg);
}

#img13 {
  background-image: url(../multimedia/img/serpiente_colorida_comp.jpg);
}

#img14 {
  background-image: url(../multimedia/img/cocodrilo_bizarro_comp.jpg);
}

#img15 {
  background-image: url(../multimedia/img/tortuga_marina_comp.jpg);
}

@media (min-width: 600px) {
  .wide {
    grid-column: span 2;
  }
  .tall {
    grid-row: span 2;
  }
}
.c-item {
  height: 100vh;
}

.c-img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.6);
}

.custom-nav-item {
  background-color: #ffd700;
}

.btn-teal {
  background-color: #22543D;
  border-color: #22543D;
}

.btn-teal:hover {
  background-color: #317857;
  border-color: #317857;
}

.click {
  display: inline-block;
  text-decoration: none;
  color: aquamarine;
  font-weight: 900;
  border: 3px solid black;
  padding: 12px 34px;
  font-size: 13px;
  position: relative;
  cursor: pointer;
}
.click:hover {
  border: 1px solid black;
  background-color: aquamarine;
  transition: 1s;
  color: green;
}

.container {
  background: linear-gradient(45deg, black, green);
  padding: 15px 9%;
  padding-bottom: 100px;
}
.container .heading {
  text-align: center;
  padding-bottom: 15px;
  color: white;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 50px;
}
.container .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 15px;
}
.container .box-container .box {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: white;
  text-align: center;
  padding: 30px 20px;
}
.container .box-container .box img {
  height: 80px;
}
.container .box-container .box h3 {
  color: #444;
  font-size: 22px;
  padding: 10px 0;
}
.container .box-container .box p {
  color: gray;
  font-size: 15px;
  line-height: 1.8;
}
.container .box-container .box .btn {
  margin-top: 10px;
  background: #333;
  color: white;
  font-size: 17px;
  border-radius: 5px;
  padding: 8px 25px;
}
.container .box-container .box .btn:hover {
  letter-spacing: 1px;
}
.container .box-container .box:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
}

.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.course h1 {
  font-size: 36px;
  font-weight: 600;
}
.course p {
  color: white;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.course .row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.course .course-col {
  flex-basis: 31%;
  background: salmon;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
.course .course-col h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.course .course-col:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

video {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.campus .campus-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.campus .campus-col img {
  width: 100%;
  display: block;
}

.item:hover {
  border-color: red;
  transform: scale(1.05);
  filter: brightness(110%);
}

header .text-box {
  width: 90%;
}

main {
  text-align: center;
  padding: 20px;
  color: wheat;
  background-color: #22543D;
}
main h1 {
  padding: 20px;
  font-size: 45px;
}
main .titulos {
  transition: color 0.3s ease, transform 0.3s ease;
}
main .titulos:hover {
  color: white;
  transform: scale(1.1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
iframe {
  width: 100%;
}

.row-us {
  display: flex;
  flex-wrap: wrap;
  color: wheat;
}
.row-us aside {
  flex: 30%;
  height: 400px;
  background-color: #333;
  padding: 10px;
}
.row-us aside h5 {
  font-weight: bolder;
  font-size: 25px;
}
.row-us aside img {
  height: auto;
  max-height: 300px;
  width: 80%;
}
.row-us article {
  flex: 70%;
  background: linear-gradient(45deg, black, green);
  padding-top: 30px;
}
.row-us article h2 {
  font-size: 55px;
}
.row-us article .content {
  padding: 20px;
  font-weight: 900;
}
.row-us article .content img {
  height: auto;
  width: 80%;
}
.row-us article .content h5 {
  padding-top: 10px;
  font-size: 25px;
}

nav .nav-links ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 5px;
  background-color: green;
  transition: width 0.4s ease;
}

nav .nav-links ul li:hover::after {
  width: 100%;
}

.contact {
  padding: 50px;
  text-align: center;
  background-color: #22543D;
}
.contact .container {
  margin: 0 auto;
}
.contact .container h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: white;
}
.contact .contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
  color: wheat;
}
.contact .contact-wrapper .contact-form {
  text-align: left;
}
.contact .contact-wrapper .contact-form h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}
.contact .contact-wrapper .contact-form .form-group {
  margin-bottom: 20px;
}
.contact .contact-wrapper .contact-form input,
.contact .contact-wrapper .contact-form textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid white;
  background: transparent;
  font-size: 15px;
  color: white;
}

video {
  padding: 20px;
}

.imagen {
  width: 85%;
  text-align: center;
  margin-left: 40px;
  height: auto;
  display: block;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.links {
  list-style: none;
}
.links .custom-link {
  color: wheat;
  text-decoration: none;
  font-weight: bolder;
}
.links .custom-link:hover {
  color: #666;
}

.custom-links {
  color: wheat;
  text-decoration: none;
  font-weight: bolder;
}/*# sourceMappingURL=style.css.map */