footer {
    font-size: 15px;
    padding: 5px;
    margin-bottom: 15px;
    text-align: center;
    background-color: black;
  
    .icon {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 10px;
      font-size: 30px;
    }
    a{
      color: green;

    }
  }